
:root {

     --fs-xxs: clamp(0.65rem, 0.5rem + 0.6vw, 0.75rem);
     --fs-xs: clamp(0.75rem, 0.6rem + 0.8vw, 0.875rem);
     --fs-sm: clamp(0.875rem, 0.7rem + 1vw, 1rem);
     --fs-md: clamp(1rem, 0.8rem + 1.2vw, 1.125rem);
     --fs-lg: clamp(1.125rem, 1rem + 1.6vw, 1.375rem);
     --fs-xl: clamp(1.5rem, 1.1rem + 2.4vw, 2rem);
     --fs-xxl: clamp(2rem, 1.25rem + 3.2vw, 3rem);
     --lh-tight: 1.05;
     --lh-normal: 1.4;
     --lh-loose: 1.6;
}

Section .Content{

      max-width: 600px;
     margin: auto;
     padding-left: 45px;
     padding-right: 45px;
}





.About-Header .Content h1{

    font-size: 2.8rem;
    margin-bottom: 10px;
    text-align: center;
    color: #E6EDF3;

}

.About-Header .Content p{

    color: #E6EDF3;
    text-align: center;
}

.About-Introduction {

    background-color: #1A2332;
}
.About-Introduction .Content{

    
     margin-top: 50px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding-bottom: 30px;
}

.About-Introduction .Content .left{

    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1;
   
}

.About-Introduction .Content .left p{

    color: #A4B1CD;
    font-weight: 800;
    font-size: 13px;
    align-content: center;

}
.About-Introduction .Content .left .context{

     align-content: center;
     flex: 1;
    
}
.About-Introduction .Content .left strong{

    color: #E6EDF3;
    font-size: 3rem;
    letter-spacing: .1em;
    font-weight: 800;
}
.About-Introduction .Content .left .illustrator{

    
    height: 400px;
    background-color: #06D90D;
    flex: 1;
}
.About-Introduction .Content .right{

    flex: 1;
}
.About-Introduction .Content .right p{

    color: #E6EDF3;
    font-size: var(--fs-lg);
    text-align: justify;

}

.Values-section{

    background-color: #1A2332;
    padding-bottom: 40px;
    padding-top: 20px;
}
.value-cards{

    display: flex;
    flex-direction: column;
    gap: 20px;

}
.value-cards .card h3{

    font-size: var(--fs-xl);
    color: #E6EDF3;
    margin-bottom: 10px;
    
}

.value-cards .card p{

    font-size: var(--fs-md);
    color: #A4B1CD;
}
.value-cards .card{

    text-align: center;
    padding: 20px;
    border-radius: 4px;

}

.Gallery-Container{

  
   display: flex;
   flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;

}

.Gallery-Container .image img{

    width: 100%;
    border-radius: 4px;
    object-fit: contain;
    height: 250px;
    filter: brightness(50%) grayscale(40%);
      transition: all 0.3s ease-in-out;
}

.Gallery-Container .image img:hover{

    filter: brightness(100%);
  

}

@media (min-width:768px){

 Section .Content {
     
               max-width: 700px ;
               
       }

        .About-Header .Content h1{

            font-size: 4rem;
        }


 .About-Introduction .Content .left{

    gap: 90px;
 }
         
      
 .value-cards{

        flex-direction: row;
        justify-content: center;
 }


.Gallery-Container {

    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;

}


.Gallery-Container .img3{

     flex-grow: 2;
}

}

@media (min-width:1024px){


Section .Content{

            max-width: 1520px;
          padding-right:  70px;
          padding-left:  70px;
     }

      .About-Header .Content h1{

            font-size: 5rem;
        }
  .About-Header .Content p{

       font-size: 1.3rem;
  }
 .About-Introduction .Content{

            flex-direction: row;
           align-items: center;
}

.Gallery-Container .image {

    height: 300px;
}

.Gallery-Container .img1{

    display: flex;
    align-items: end;
}
.Gallery-Container .img2{

    display: flex;
    align-items: center;
}
.Gallery-Container .img3{

    flex-grow: 0;
    display: flex;
    align-items: flex-start;
}



  
}
