@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  animation: fadeInUp 0.8s ease forwards;
}



.Glow-Effect-Blue-Hero {

     background-color: #2F81F7;
     width: 420px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     filter: blur(200px);
  
     z-index: -99;
     left: 0px;
     bottom: 0;

}

.Hero-section {

     position: relative;

}



:root {

     --fs-xxs: clamp(0.65rem, 0.5rem + 0.6vw, 0.75rem);
     --fs-xs: clamp(0.75rem, 0.6rem + 0.8vw, 0.875rem);
     --fs-sm: clamp(0.875rem, 0.7rem + 1vw, 1rem);
     --fs-md: clamp(1rem, 0.8rem + 1.2vw, 1.125rem);
     --fs-lg: clamp(1.125rem, 1rem + 1.6vw, 1.375rem);
     --fs-xl: clamp(1.5rem, 1.1rem + 2.4vw, 2rem);
     --fs-xxl: clamp(2rem, 1.25rem + 3.2vw, 3rem);


     --lh-tight: 1.05;
     --lh-normal: 1.4;
     --lh-loose: 1.6;
}

.Hero-section .Content {

     display: flex;
     flex-direction: column-reverse;
     height: 100%;
     max-width: 600px;
     margin: auto;
     padding-left: 45px;
     padding-right: 45px;

}

.Hero-section .Content .context {

     display: flex;
     flex-direction: column;
     gap: 15px;
     margin-top: 40px;
}

.Hero-section .Content .context h1 {

     color: #E6EDF3;
     font-size: var(--fs-xxl);
     line-height: var(--lh-tight);
     line-height: normal;
     text-align: center;
}

.Hero-section .Content .context p {

     color: #808080;
     font-size: var(--fs-sm);
     text-align: center;
}

.Hero-section .Content .context .cta-btn {

     margin-top: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}

.Hero-section .Content .context .cta-btn a {

     display: inline-block;
     font-weight: 600;
     padding: 12px 24px;
     border-radius: 6px;
     text-decoration: none;
     font-size: var(--fs-sm);
     text-align: center;


}

.Hero-section .Content .context .cta-btn #Enroll-now {




     background-color: transparent;
     border: 2px solid #2F81F7;
     color: #2F81F7;
}


.Hero-section .Content .context .cta-btn #Learn-more {

     background-color: #06D90D;
     color: #0A0A0C;

}

.Hero-section .Content .image {

     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;

}

.Hero-section .Content .image img {

     width: 70vw;
     max-width: 720px;
     height: auto;

}

.Showcase-section {

     
     overflow: hidden;
}

.Showcase-section .Content {

       max-width: 600px;
     margin: auto;
     padding-left: 45px;
     padding-right: 45px;


}


.partners-logo {
 
  overflow: hidden;
  padding: 2rem 0;
}

.carousel-track {
  display: flex;
  width: calc(200px * 10); 
  animation: scroll 25s linear infinite;
}

.logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo img {
  width: 100px;
  height: auto;
  object-fit: contain;
  filter: brightness(1.1) drop-shadow(0 0 6px #00ffff40);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.5) drop-shadow(0 0 12px #00ffff);
}


@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}



.Showcase-section .Content .partners-logo .caraousel-track:hover {
  animation-play-state: paused;
}

.Showcase-section .Content .partners-logo img {

     width: 100px;
     height: auto;
    
}



.Showcase-section .Content h2 {

     color: #E6EDF3;
     margin-top: 50px;
     font-size: var(--fs-lg);
}



.Showcase-section .Content .courses .image-course{

     position: relative;
}

.Showcase-section .Content .courses .context h3 {


     color: #E6EDF3;
     font-size: var(--fs-md);
     margin-top: 15px;

}

.Showcase-section .Content .courses .context p {

     color: #808080;
     font-size: var(--fs-sm);
     margin-top: 10px;
}

.Showcase-section .Content .courses .context .cta-btn svg{

     width: 20px;
     display: block;
}


.Showcase-section .Content .courses .context .cta-btn {

     margin-top: 15px;
     display: flex;
     text-decoration: none;
     color: #2F81F7;
     align-items: center;
     gap: 5px;
     font-weight: 500;
     
}

.Showcase-section .Content .courses {

     display: flex;
     flex-direction: column;
     margin-top: 70px;
     gap: 40px;

}

.Showcase-section .Content .courses img {

     width: 100%;
     border-radius: 12px;
}


.Showcase-section .Content .Cert-Credentials h3{

     color: #E6EDF3;
     margin-top: 30px;
     font-size: var(--fs-lg);
}
 .Cert-Credentials .Container{

     margin-top: 30px;
     padding: 40px 15px;
     border: 1px solid #182232;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     gap: 30px;

 }

 .Cert-Credentials .Container .Context{

     flex: 1;
 }

 .Cert-Credentials .Container .visual{

     flex: 1;
 }
 .Cert-Credentials .Container .Context h4{

     color: #E6EDF3;
     font-size: var(--fs-md);


}

 .Cert-Credentials .Container .Context p{

     color: #808080;
     margin-top:20px ;
 }

  .Cert-Credentials .Container .Context .key-points{

     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 30px;
  }
  .Cert-Credentials .Container .Context .key-point{

     display: flex;
     align-items: center;
     gap: 15px;
     
  }

    .Cert-Credentials .Container .Context .key-point p{

       font-weight: 600;
       color: #E6EDF3;
       margin-top: 0;
    }

        .Cert-Credentials .Container .Context .key-point span svg{

          color: #06D90D;
          width: 35px;
        }

        .Cert-Credentials .Container .visual img{

          width: 100%;
        }
.About-section .Content   {

     padding: 60px 45px;
         max-width: 600px;
     margin: auto;
   


}

.About-section .Content h2 {

     color: #E6EDF3;
     font-size: var(--fs-lg);
     text-align: center;
     margin-bottom: 20px;

}

.About-section .Content .About-cards{

     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas: "Card1"
                          "Card2"
                          "Card3";
                         
     gap: 20px;
}

.About-cards .card:nth-child(1) {

     grid-area: Card1;

}

.About-cards .card:nth-child(2) {

     grid-area: Card2;

}

.About-cards .card:nth-child(3) {

     grid-area: Card3;

}

.About-section .Content .cta-btn a {

     display: inline-block;
     font-weight: 600;
     padding: 12px 24px;
     border-radius: 6px;
     text-decoration: none;
     font-size: var(--fs-sm);
     text-align: center;
     color: #0A0A0C;

}

.About-section .Content .cta-btn .More-About-Us {

     background-color: transparent;
     background-color:#06D90D;
     color: #0A0A0C;

}

.About-section .Content .cta-btn .Enroll-Now {

    border: 2px solid #2F81F7;
     color: #2F81F7;
}
.About-section .Content .cta-btn {

     margin-top: 35px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;

}

.About-section .Content .About-cards .card {

     background-color: #141D2B;
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 15px;
     border-radius: 12px;

}

.About-section .Content .About-cards .card h4 {

     color: #E6EDF3;
     font-size: var(--fs-md);
}

.About-section .Content .About-cards .card p {

     color: #808080;
     font-size: var(--fs-sm);
     line-height: var(--lh-normal);

}

.Why-Section .Content {

     padding: 60px 45px;
          max-width: 600px;
     margin: auto;
     padding-left: 45px;
     padding-right: 45px;

}

.Why-Section .Content h2 {

     color: #E6EDF3;
     font-size: var(--fs-lg);
     margin-bottom: 20px;

}

.Why-Section .Content p {

     color: #808080;
     font-size: var(--fs-sm);
     line-height: var(--lh-normal);

}


.Why-Section .Content .Why-Section-Cards {

     margin-top: 40px;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas: "Card1"
                          "Card2"
                          "CardImg"
                          "Card3"
                          "Card4";
     gap: 20px;

}

.Why-Section .Content .Why-Section-Cards .card img {

     width: 100%;
     border-radius: 12px;
}

.Why-Section .Content .Why-Section-Cards .card h4 {

     color: #E6EDF3;
     font-size: var(--fs-md);
}

.Why-Section .Content .Why-Section-Cards .card p {

     color: #808080;
     font-size: var(--fs-sm);
     line-height: var(--lh-normal);

}

.Why-Section .Content .Why-Section-Cards .card {

     background-color: #141D2B;
     padding: 20px;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     gap: 15px;
     justify-content: center;

}

.Why-Section .Content .Why-Section-Cards .Card3{

      flex-direction: row;
      align-items: center;
 }

 .Why-Section .Content .Why-Section-Cards .Card3 h1{

          color: #E6EDF3;
          font-size: var(--fs-xxl);
          color: #06D90D;
 }

  .Why-Section .Content .Why-Section-Cards .Card3 p{

          color: #808080;
          font-size: var(--fs-sm);
          line-height: var(--lh-normal);
          font-weight: 900;
          color: #E6EDF3;
  }
.Why-Section .Content .Why-Section-Cards .card:nth-child(1) {

     grid-area:Card1; ;

}

.Why-Section .Content .Why-Section-Cards .card:nth-child(2) {

     grid-area:Card2; ;

}

.Why-Section .Content .Why-Section-Cards .card:nth-child(3) {

     grid-area:CardImg; 
     background-color: transparent;
     position: relative;
     
}

.Why-Section .Content .Why-Section-Cards .CardImg .Glow-Effect-Blue-Cert{


     background-color: #2F81F7;
     width: 70vw;
     height: 40px;
     border-radius: 80%;
     position: absolute;
     filter: blur(100px);
     z-index: -99;
     top: -20px;
     left: 0;
     animation: glowMove 6s ease infinite;
     top: 40%;
}


          @keyframes glowMove {
               0% {
                    background-position: 0% 50%;
               }
     
               50% {
                    background-position: 100% 50%;
               }
     
               100% {
                    background-position: 0% 50%;
               }
          }

.Why-Section .Content .Why-Section-Cards .card:nth-child(4) {

     grid-area:Card3; ;


}

.Why-Section .Content .Why-Section-Cards .card:nth-child(5) {

     grid-area:Card4; ;

}
.Testemonial-Section {

     position: relative;
     
    
}
.Testemonial-Section .Content {

     padding: 60px 45px;
       max-width: 600px;
     margin: auto;
     padding-left: 45px;
     padding-right: 45px;

}

.Testemonial-Section .Content h2 {

     color: #E6EDF3;
     font-size: var(--fs-lg);
     text-align: center;
     margin-bottom: 20px;

}
.Testemonial-Section .Content .Testemonials-Cards{

     display: flex;
     flex-direction: column;
     gap: 20px;
}
.Testemonial-Section .Content .Testemonials-Cards .Card{

     background-color: #141D2B;
     padding: 20px;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.Testemonial-Section .Content .Testemonials-Cards .Card .Double-Quote{

     display: flex;
     justify-content: center;
}

.Testemonial-Section .Content .Testemonials-Cards .Card .context {

     color: #E6EDF3;
     font-size: var(--fs-sm);
     line-height: var(--lh-normal);
     text-align: center;
}

.Testemonial-Section .Content .Testemonials-Cards .Card .person-info {

     display: flex;
     align-items: center;
     gap: 15px;
     margin-top: 15px;
     justify-content: center;
}

.Testemonial-Section .Content .Testemonials-Cards .Card .person-info .person-image img {

     width: 50px;
     height: 50px;
     border-radius: 50%;

}

.Testemonial-Section .Content .Testemonials-Cards .Card .person-info .person-details h4 {

     color: #E6EDF3;
     font-size: var(--fs-sm);
}

.Testemonial-Section .Content .Testemonials-Cards .Card .person-info .person-details span {

     color: #808080;
     font-size: var(--fs-xxs);

}



.Contact-Section{

     position: relative;
     
    
}
.Contact-Section .Content{


      padding: 60px 45px;
       max-width: 600px;
     margin: auto;
     padding-left: 45px;
     padding-right: 45px;
}

.Contact-Section .Content h4 {

     color: #E6EDF3;
     font-size: var(--fs-lg);
     margin-bottom: 20px;

}


.Contact-Section .Content .Contact-Container {

     display: flex;
     flex-direction: column;
     gap: 15px;
     margin-top: 30px;
     padding: 40px 15px;
     border: 1px solid #141D2B;
     border-radius: 12px;
     position: relative;

}


.Contact-Container .Contact-Form{


     display: grid;
     grid-template-columns: 1fr;
     gap: 15px;
}
.Contact-Container .Contact-Form .Input-Group label{

     color: #E6EDF3;
     font-size: var(--fs-sm);
     margin-bottom: 6px;
     display: block;
}
.Contact-Container .Contact-Form .Input-Group input,select{

     width: 100%;
     padding: 12px;
     border-radius: 6px; 
     border: none;
     background-color:#182232;
     color: #E6EDF3;

}

.Contact-Container .Contact-Form .Submit-Btn a{


     display: inline-block;
     font-weight: 600;
     padding: 12px 24px;
     border-radius: 6px;
     text-decoration: none;
     font-size: var(--fs-sm);
     text-align: center;
     background-color:#06D90D;
     color: #0A0A0C;
     width: 100%;
}

.Contact-Container .Contact-Information .info-item svg{

     width: 24px;
     height: 24px;
     color: #E6EDF3;

}
.Contact-Container .Contact-Information .info-item{

     margin-top: 20px;
     display: flex;
     flex-direction: column;
     gap: 10px;
        color: #808080;
}

.Contact-Container .Contact-Information .info-item h5 {

  
     font-size: var(--fs-sm);
     font-weight: 600;   

}
 .Contact-Container .Contact-Context h4 {

     color: #E6EDF3;
     font-size: var(--fs-md);
     margin-bottom: 10px;

}

.Contact-Container .Contact-Context p {

     color: #808080;
     font-size: var(--fs-sm);

}

.Contact-Container .Contact-Context .Learning-Path-Context{

     
     margin-top: 15px;
     display: flex;
     flex-direction: column;
     gap: 10px;
   

}

.Contact-Container .Contact-Context .Learning-Path-Context h6{
     color: #E6EDF3;
     font-size: var(--fs-sm);
     margin-bottom: 10px;
}

.Contact-Container .Contact-Context .Learning-Path-Context .Learning-Paths{

        list-style: none;
        color: #808080;
        display: flex;
        gap: 10px; ;
        flex-direction: column;
}

.Contact-Container .Contact-Context .Learning-Path-Context .Learning-Paths li::before{

     content: '✓';
     color: #2F81F7;
     margin-right: 8px;
}

.Glow-Effect-Blue-Contact {


     width: 50vw;
     height: 20vh;
     border-radius: 90%;
     position: absolute;
     filter: blur(340px);
     z-index: -999;
     top: 10px;
     left: 200px;
     background: linear-gradient(45deg, #141D2B, #2F81F7);
     background-size: 300% 100%;
     
}


.Footer {

     margin-top: 60px;
     padding: 20px 0;
     text-align: center;
     color: #808080;
     font-size: var(--fs-xxs);
}

.Footer .Content .footer-links a {

     color: #2F81F7;
     text-decoration: none;

}

.Footer .Content .social-media-icons {

     margin-top: 15px;
     margin-bottom: 15px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 20px;

}

.Footer .Content .social-media-icons a svg {

     width: 40px;
     height: auto;
     color: #808080;
     transition: color 0.3s ease;

}

@media (min-width:768px) {


     .Hero-section .Glow-Effect-Green-Hero {


          top: -152px;

     }

     .Showcase-section .Glow-Effect-Blue-showcase {


          left: 0px;
          top: -19px;

     }

     .Hero-section .Content .image {

          flex: 1;
     }

     .Hero-section .Content .image img {

          width: 40vw;
     }

     .Hero-section .Content {

          flex-direction: row;
          align-items: center;
          max-width: 700px ;
     }

     .Hero-section .Content .context h1 {

          text-align: left;
     }

     .Hero-section .Content .context p {

          text-align: left;
     }

     .Hero-section .Content .context .cta-btn {

          flex-direction: row;
          justify-content: flex-start;
     }

     
     

     .Showcase-section .Glow-Effect-Blue-showcase {

          top: -2px;
          left: 2px;

     }

          @keyframes glowMove {
               0% {
                    background-position: 0% 50%;
               }
     
               50% {
                    background-position: 100% 50%;
               }
     
               100% {
                    background-position: 0% 50%;
               }
          }
     
          .Glow-Effect-Green-Showcase {
     
     
               width: 820px;
               height: 300px;
               border-radius: 70%;
               position: absolute;
               background: linear-gradient(45deg, #141D2B, #06D90D);
               background-size: 300% 100%;
               animation: glowMove 6s ease infinite;
               filter: blur(190px);
               opacity: 0.3;
               z-index: -99;
               top: 20%;
               left: 55%;
               right: 0;
          }

     .Showcase-section .Content{

           max-width: 700px ;
     }

     .Showcase-section .Content .partners-logo {

          flex-direction: row;
          gap: 60px;
          justify-content: center;
          align-items: center;
     }

     .Showcase-section .Content .courses {

          flex-direction: row;
          gap: 30px;
     }
     
      .Cert-Credentials .Container{


          flex-direction: row;
          align-items: center;
     }

     .About-section .Content{

          max-width: 700px ;
     }


     .About-section .Content .About-cards {

          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "Card1 Card2 "
                               "Card3 Card3 ";
     }



     .About-section .Content .cta-btn{

          flex-direction: row;
          justify-content: left;
     }

     .Why-Section .Content .Why-Section-Cards .Card3{

          flex-direction: column;
          align-items: flex-start;
     }

     .Why-Section .Content .Why-Section-Cards .CardImg .Glow-Effect-Blue-Cert{

          left: 10%;
          width: 30vw;
     }

     
       .Why-Section .Content .Why-Section-Cards .CardImg{

          max-width: 40vw;
       }
     .Why-Section .Content{

          max-width: 700px ;  
     }
       .Why-Section .Content .Why-Section-Cards {

          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "Card1  Card1"
                               "Card2 CardImg"
                               "Card3 Card4 ";
          gap: 30px;

     }

       .Testemonial-Section .Content{

          max-width: 700px ;
     
     }

     .Testemonial-Section .Content .Testemonials-Cards {

          flex-direction: row;
          gap: 30px;
     }

     .Contact-Section .Content {

          max-width: 1000px; 
     }
.Contact-Section .Content     .Contact-Container {

          flex-direction: row;
          gap: 40px;
        }

       .Contact-Container .Contact-Form {

          flex: 1;
        }

           .Contact-Container .Contact-Context {
     
               flex: 1;
          }
    
}

@media (min-width:1024px) {


     .Hero-section .Glow-Effect-Green-Hero {


          top: 90px;
          right: 120px;
          border-radius: 80%;


     }


     
     #Glow-Effect-Green {


          right: 60px;

     }

     .Hero-section .Content {

          max-width: 1520px;
          margin: 0 auto;
          padding-right:  70px;
          padding-left:  70px;
     }

     .Hero-section .Content .image img {

          width: 450px;
     }

     .Showcase-section .Content {

              max-width: 1520px;
          margin: 0 auto;
            padding-right:  70px;
          padding-left:  70px;
     }

     .About-section .Content {

             max-width: 1520px;
          margin: 0 auto;
           padding-right:  70px;
          padding-left:  70px;
     }

          .Why-Section .Content .Why-Section-Cards .CardImg .Glow-Effect-Blue-Cert{

               left: 19px;
          }
      .Why-Section .Content .Why-Section-Cards {

          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "Card1  CardImg"
                               "Card2 CardImg"
                               "Card3 Card4 ";

      }
     .Why-Section .Content {

            max-width: 1520px;
          margin: 0 auto;
           padding-right:  70px;
          padding-left:  70px;
     }

   

     .Testemonial-Section .Content {

            max-width: 1520px;
          margin: 0 auto;
           padding-right:  70px;
          padding-left:  70px;
     }

     .Contact-Section .Content {

            max-width: 1520px;
          margin: 0 auto;
           padding-right:  70px;
          padding-left:  70px;
     }

  
     .Contact-Section .Content .Contact-Container{

          padding: 40px 40px;
     }
     .Contact-Section .Glow-Effect-Blue-Contact {

          width: 60vw;
          height: 60vh;
          left: 900px;
     }
}