.Glow-Effect-Green-Hero {

     background-color: #06D90D;
     width: 320px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     filter: blur(200px);
     z-index: -99;
     right: 0px;
}

.Glow-Effect-Blue-Hero {

     background-color: #2F81F7;
     width: 320px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     filter: blur(200px);
     z-index: -99;
     left: 0px;
     bottom: 0;

}

.Hero-section {

     overflow-y: hidden;
     position: relative;

}

.Hero-section .Content {

     padding-left: 15px;
     padding-right: 15px;

}

:root {

     --fs-xxs: clamp(0.65rem, 0.5rem + 0.6vw, 0.75rem);
     --fs-xs: clamp(0.75rem, 0.6rem + 0.8vw, 0.875rem);
     --fs-sm: clamp(0.875rem, 0.7rem + 1vw, 1rem);
     --fs-md: clamp(1rem, 0.8rem + 1.2vw, 1.125rem);
     --fs-lg: clamp(1.125rem, 1rem + 1.6vw, 1.375rem);
     --fs-xl: clamp(1.5rem, 1.1rem + 2.4vw, 2rem);
     --fs-xxl: clamp(2rem, 1.25rem + 3.2vw, 3rem);


     --lh-tight: 1.05;
     --lh-normal: 1.4;
     --lh-loose: 1.6;
}

.Hero-section .Content {

     display: flex;
     flex-direction: column-reverse;
     height: 100%;

}

.Hero-section .Content .context {

     display: flex;
     flex-direction: column;
     gap: 15px;
     margin-top: 40px;
}

.Hero-section .Content .context h1 {

     color: #E6EDF3;
     font-size: var(--fs-xxl);
     line-height: var(--lh-tight);
     line-height: normal;
     text-align: center;
}

.Hero-section .Content .context p {

     color: #808080;
     font-size: var(--fs-sm);
     text-align: center;
}

.Hero-section .Content .context .cta-btn {

     margin-top: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;
}

.Hero-section .Content .context .cta-btn a {

     display: inline-block;
     font-weight: 600;
     padding: 12px 24px;
     border-radius: 6px;
     text-decoration: none;
     font-size: var(--fs-sm);
     text-align: center;


}

.Hero-section .Content .context .cta-btn #Enroll-now {




     background-color: transparent;
     border: 2px solid #2F81F7;
     color: #2F81F7;
}


.Hero-section .Content .context .cta-btn #Learn-more {

     background-color: #06D90D;
     color: #0A0A0C;

}

.Hero-section .Content .image {

     display: flex;
     flex-direction: column;
     align-items: center;

}

.Hero-section .Content .image img {

     width: 70vw;
     max-width: 720px;
     height: auto;

}

.Showcase-section {

     position: relative;
     overflow: hidden;
}

.Showcase-section .Content {

     padding: 60px 15px;

}

.Showcase-section .Content .partners-logo {

     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
     overflow-x: hidden;

}

.Showcase-section .Content .partners-logo img {

     width: 150px;
     height: auto;
     opacity: 0.6;
}

.Showcase-section .Glow-Effect-Blue-showcase {

     background-color: #2F81F7;
     width: 320px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     filter: blur(200px);
     z-index: -99;
     left: 0px;
     top: 0px;

}

.Showcase-section .Content h2 {

     color: #E6EDF3;
     margin-top: 50px;
     font-size: var(--fs-lg);
}

.Showcase-section .Content .courses .context h3 {


     color: #E6EDF3;
     font-size: var(--fs-md);
     margin-top: 15px;

}

.Showcase-section .Content .courses .context p {

     color: #808080;
     font-size: var(--fs-sm);
     margin-top: 10px;
}

.Showcase-section .Content .courses .context .cta-btn {

     margin-top: 15px;
     display: flex;
     text-decoration: none;

}

.Showcase-section .Content .courses {

     display: flex;
     flex-direction: column;
     margin-top: 70px;
     gap: 40px;

}

.Showcase-section .Content .courses img {

     width: 100%;
     border-radius: 12px;
}

.About-section {

     padding: 60px 15px;
    

}

.About-section .Content h2 {

     color: #E6EDF3;
     font-size: var(--fs-lg);
     text-align: center;
     margin-bottom: 20px;

}

.About-section .Content .About-cards{

     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas: "Card1"
                          "Card2"
                          "Card3";
                         
     gap: 20px;
}

.About-cards .card:nth-child(1) {

     grid-area: Card1;

}

.About-cards .card:nth-child(2) {

     grid-area: Card2;

}

.About-cards .card:nth-child(3) {

     grid-area: Card3;

}

.About-section .Content .cta-btn a {

     display: inline-block;
     font-weight: 600;
     padding: 12px 24px;
     border-radius: 6px;
     text-decoration: none;
     font-size: var(--fs-sm);
     text-align: center;
     color: #0A0A0C;

}

.About-section .Content .cta-btn .More-About-Us {

     background-color: transparent;
     background-color:#06D90D;
     color: #0A0A0C;

}

.About-section .Content .cta-btn .Enroll-Now {

    border: 2px solid #2F81F7;
     color: #2F81F7;
}
.About-section .Content .cta-btn {

     margin-top: 35px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 10px;

}

.About-section .Content .About-cards .card {

     background-color: #141D2B;
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 15px;
     border-radius: 12px;

}

.About-section .Content .About-cards .card h4 {

     color: #E6EDF3;
     font-size: var(--fs-md);
}

.About-section .Content .About-cards .card p {

     color: #808080;
     font-size: var(--fs-sm);
     line-height: var(--lh-normal);

}

.Why-Section {

     padding: 60px 15px;

}

.Why-Section .Content h2 {

     color: #E6EDF3;
     font-size: var(--fs-lg);
     margin-bottom: 20px;

}

.Why-Section .Content p {

     color: #808080;
     font-size: var(--fs-sm);
     line-height: var(--lh-normal);

}


.Why-Section .Content .Why-Section-Cards {

     margin-top: 40px;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas: "Card1"
                          "Card2"
                          "CardImg"
                          "Card3"
                          "Card4";
     gap: 20px;

}

.Why-Section .Content .Why-Section-Cards .card img {

     width: 100%;
}

.Why-Section .Content .Why-Section-Cards .card h4 {

     color: #E6EDF3;
     font-size: var(--fs-md);
}

.Why-Section .Content .Why-Section-Cards .card p {

     color: #808080;
     font-size: var(--fs-sm);
     line-height: var(--lh-normal);

}

.Why-Section .Content .Why-Section-Cards .card {

     background-color: #141D2B;
     padding: 20px;
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     gap: 15px;

}

.Why-Section .Content .Why-Section-Cards .Card3{

      flex-direction: row;
      align-items: center;
 }

 .Why-Section .Content .Why-Section-Cards .Card3 h1{

          color: #E6EDF3;
          font-size: var(--fs-xxl);
          color: #06D90D;
 }

  .Why-Section .Content .Why-Section-Cards .Card3 p{

          color: #808080;
          font-size: var(--fs-sm);
          line-height: var(--lh-normal);
          font-weight: 900;
          color: #E6EDF3;
  }
.Why-Section .Content .Why-Section-Cards .card:nth-child(1) {

     grid-area:Card1; ;

}

.Why-Section .Content .Why-Section-Cards .card:nth-child(2) {

     grid-area:Card2; ;

}

.Why-Section .Content .Why-Section-Cards .card:nth-child(3) {

     grid-area:CardImg; 
}

.Why-Section .Content .Why-Section-Cards .card:nth-child(4) {

     grid-area:Card3; ;

}

.Why-Section .Content .Why-Section-Cards .card:nth-child(5) {

     grid-area:Card4; ;

}


@media (min-width:768px) {


     .Hero-section .Glow-Effect-Green-Hero {


          top: -152px;

     }

     .Showcase-section .Glow-Effect-Blue-showcase {


          left: 0px;
          top: -19px;

     }

     .Hero-section .Content .image {

          flex: 1;
     }

     .Hero-section .Content .image img {

          width: 40vw;
     }

     .Hero-section .Content {

          flex-direction: row;
          align-items: center;

     }

     .Hero-section .Content .context h1 {

          text-align: left;
     }

     .Hero-section .Content .context p {

          text-align: left;
     }

     .Hero-section .Content .context .cta-btn {

          flex-direction: row;
          justify-content: flex-start;
     }


     .Showcase-section .Content .partners-logo {

          flex-direction: row;
          gap: 60px;
          justify-content: center;
          align-items: center;
     }

     .Showcase-section .Content .courses {

          flex-direction: row;
          gap: 30px;
     }
     
     .About-section .Content .About-cards {

          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "Card1 Card2 "
                               "Card3 Card3 ";
     }



     .About-section .Content .cta-btn{

          flex-direction: row;
          justify-content: left;
     }

       .Why-Section .Content .Why-Section-Cards {

          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "Card1 CardImg"
                               "Card2 CardImg"
                               "Card3 Card4 ";
          gap: 30px;

     }
}

@media (min-width:1024px) {


     .Hero-section .Glow-Effect-Green-Hero {


          top: 90px;
          right: 120px;
          border-radius: 80%;


     }


     .Showcase-section .Glow-Effect-Blue-showcase {

          top: -2px;
          left: 2px;

     }

     #Glow-Effect-Green {


          right: 60px;

     }

     .Hero-section .Content {

          max-width: 1200px;
          margin: 0 auto;
     }

     .Hero-section .Content .image img {

          width: 600px;
     }

     .Showcase-section .Content {

          max-width: 1200px;
          margin: 0 auto;
     }

     .About-section .Content {

          max-width: 1200px;
          margin: auto;
     }

     .Why-Section .Content {

          max-width: 1200px;
          margin: auto;
     }

   

}