*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open-Sans';
    font-family: 'Outfit';
    src: url(/Assets/Fonts/Outfit/Outfit-VariableFont_wght.ttf);
    src: url(/Assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    
}


body{
     
    font-family:'Open-Sans',sans-serif;
    background-color: #0A0A0C;
    color: #E6EDF3;
}

.layout{

    display: flex;
    flex-direction: column;

    
}

header{


    
    width: 100%;
    height: 50px;
    

}

.navbrand{

    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5rem;
    background:linear-gradient(to right,
    rgb(16, 199, 16),
    rgb(8, 8, 192) 80%);
    background-size:100% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Outfit',sans-serif;
  
}

.navbrand-con{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
}
.navbrand-con img{

    width: 28px;
    height: 28px;

}

.navbrand img{

    width: 100%;
}
.Navbar-Container{

   
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #0A0A0C;
    

}

 .navbar{

    
    width: 100%;
    height: 75vh;
    left: 0;
    position: absolute;
     background-color: #0A0A0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 23px;
      top: -4000px;
        transition: all .3s ease-in-out;
        z-index: 999;
        font-family: 'Outfit';
      
}

 .navbar.open-nav{

    top: 0 !important;
  
 }
.navbar .nav-link{

    display: flex;
    flex-direction: column;
    list-style: none;
    height: 90%;
    text-align: center;

    justify-content: center;
     gap: 30px;
}

.navbar .nav-link li a{

    text-decoration: none;
    color: #E6EDF3;
        font-weight: 530;
}

.nav-cta{

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    gap: 11px;
}

.nav-cta a{


    display: block;
    padding: 10px 10px;
    text-decoration: none;
    width: 100%;
    text-align: center;
     border-radius: 11px;
    font-weight: 530;
  

}
.contact-us{

   
    border: solid 1px #2F81F7;
    color: #2F81F7;
}

.get-started{


    background-color: #06D90D;
    color: #0A0A0C;
}
.nav-bg-blured{

   height: 100vh;
   width: 100%;
   position: absolute;
   left: 0;
   top: 0;
   backdrop-filter: blur(10px);
      top: -2000px;
      transition: all .3s ease-in-out;
}



.nav-bg-blured.open-nav{

    top: 0;
 }

.ham-menu{
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 999;
}

.ham-menu .bar{

     width: 25px;
     height: 3px;
     background-color: #E6EDF3;
     border-radius: 3px;
     transition: 0.2s all ease-in-out;
     opacity: 1;
}

.ham-menu .bar.open:nth-child(1){

    transform: rotate(46deg) translate(5px,3px);

     
}

.ham-menu .bar.open:nth-child(2){

    opacity: 0;

     
}

.ham-menu .bar.open:nth-child(3){

    transform: rotate(-42deg) translate(5px,-4px);

     
}




/*hero section*/

.hero-section{

   
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 94vh;
    z-index: -1;
    padding: 20px 0;
}

.hero-section .content-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
}
.hero-section .content{


    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    gap: 1em;

}

.hero-section .content .context{

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.hero-section .content .context h1{

    font-size: 2rem;
}
.hero-section .content .context p{

    font-size: .7rem;
    color: #808080;
}


.hero-section .content .image img{

    width: 65vw;
}


.hero-section .content-container .partner-brand{

    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-y: hidden;
    background-color: #141D2B;
    padding: 13px 0px;
    width: 100%;
    align-items: center;
}

.hero-section .content-container .partner-brand li img{

    width: 17vw;
}

.cta-btn{

    display: flex;
    flex-direction: column;
    gap: 13px;
   width: 100%;
}
.cta-btn a{

    display: block;
    padding: 13px 19px;
    border-radius: 11px;
    text-align: center;
    text-decoration: none;
    font-weight: 540;
    width: 100%;
}

.cta-btn .cta-learn{

    background-color: #06D90D;
    color: #0A0A0C;

}

.cta-btn .cta-enroll{

    border: #2F81F7 solid 1px;
    color: #2F81F7;
    
}


.hero-section .bg-blured-green{

    width:350px;
    height: 60px;
    background-color: rgb(53, 196, 53);
    border-radius: 50%;
    filter: blur(120px);
    
    position: absolute;
    left: 250px;
    top: 130px;
}

.hero-section .bg-blured-blue{

    width:350px;
    height: 60px;
    background-color: rgb(5, 42, 252);
    border-radius: 50%;
    filter: blur(120px);
    position: absolute;
    left:-5vh;
    bottom: 0;
}

/*hero section*/





/*course section*/

.course-section{

   
    position: relative;
    overflow:hidden;
    width: 100%;
    z-index: -1;
    padding: 20px 0;
}


.course-section .bg-blured-green{

    width:350px;
    height: 60px;
    background-color: rgb(53, 196, 53);
    border-radius: 50%;
    filter: blur(120px);
    position: absolute;
    left: 250px;
    top: 730px;
}

.course-section .bg-blured-blue{

    width:350px;
    height: 60px;
    background-color: rgb(5, 42, 252);
    border-radius: 50%;
    filter: blur(120px);
    position: absolute;
    left:-50px;
    top: -40px;
}


.course-section .content-container{

    padding: 0 25px;
    margin-top: 40px;

}

.course-section .content-container .course-items{

    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 40px;
}
 .course-items .item{

    display: flex;
    flex-direction: row;
    gap: 15px;
 }
 
.course-items .item .image{

       width: 70vw;
}
.course-items .item .image img{

    width: 100%;
    height: 100%;
 
}

.course-items .item .context{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-items .item .context p{

    font-size: .6rem;
    margin-bottom: 17px;
    color: #808080;
    text-align: justify;
}

.course-items .item .description .enroll-btn{

    display: block;
     font-size: .7em;
     width: 50%;
     text-decoration: none;
     color: #2F81F7;
     
}
.course-section .course-journey{

    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
}

.course-section .course-journey .item{

    padding: 11px 14px;
    display: flex;
    background-color: #141D2B;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
}
.course-section .course-journey .item img{

    width: 25px;
}
.course-section .course-journey .item p{

    font-size: .7em;
    color: #808080;
}

/*course section*/






/*tablet ni*/


@media (min-width: 768px) and (max-width: 1024px) {
    


    .nav-link li a{

        font-size: 1.5em;
    }
    .nav-cta{

        flex-direction: row;
    }

    .hero-section .content-container .content .context  h1{

         font-size: 3.5rem;
    }

    .hero-section .content-container .content .context  p{

        font-size: 1.4rem;
        
    }


      .hero-section{
        height: 95vh;
      }

       .course-section .content-container .course-items{

        flex-direction: row;
        
       }
         .course-section .content-container .course-items .item {

            flex-direction: column;
         }
        .course-section .content-container .course-items .item .image{

          width: 30vw;
       }

        .course-section .content-container .course-items .item  .description .context h4{

            font-size: 1.3rem;
        }

         .course-section .content-container .course-items .item  .description .context p{

            font-size: .9rem;
        }

         .course-section .content-container .course-items .item  .description .enroll-btn{

            font-size: 1em;
         }
}





/*tablet ni*/