body{

    background-color: #0A0A0C;
}

:root {

     --fs-xxs: clamp(0.65rem, 0.5rem + 0.6vw, 0.75rem);
     --fs-xs: clamp(0.75rem, 0.6rem + 0.8vw, 0.875rem);
     --fs-sm: clamp(0.875rem, 0.7rem + 1vw, 1rem);
     --fs-md: clamp(1rem, 0.8rem + 1.2vw, 1.125rem);
     --fs-lg: clamp(1.125rem, 1rem + 1.6vw, 1.375rem);
     --fs-xl: clamp(1.5rem, 1.1rem + 2.4vw, 2rem);
     --fs-xxl: clamp(2rem, 1.25rem + 3.2vw, 3rem);
     --lh-tight: 1.05;
     --lh-normal: 1.4;
     --lh-loose: 1.6;
}


@font-face {
    font-family: 'Montserrat';
    src: url(/Assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}


.Container-login{

    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
 
}

.Content{

    flex: 1;
    align-content: center;
   
}
.Content form{

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Content form h1{

    font-size: var(--fs-xl);
    color: #E6EDF3;
    margin-bottom: 20px;
}
.Content form input{

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1f1f20;
    color: #E6EDF3;
    font-size: var(--fs-sm);
    font-weight: 500;
    
}
.Content form label{

    display: block;
    margin-bottom: 5px;
    color: #E6EDF3;
    font-size: var(--fs-sm);
}
.Content form button{

    width: 100%;
    padding: 13px 15px;
    background-color: #1E2939;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: var(--fs-sm);
    font-weight: 600;
    cursor: pointer;
}

.sign-up{

    text-align: center;
    font-size: var(--fs-sm);
    color: #E6EDF3;

}
.sign-up a{

    color: #06D60d;
}

.forgot-pass{

    text-align: center;
    font-size: var(--fs-sm);
    color: #E6EDF3;
    margin-top: 10px;
}

.forgot-pass:hover:active{

    color: #06D60d;
}

.Or{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #1E2939;

}
.Or::before,
.Or::after{

    content: '';
    flex: 1;
    height: 1px;
    background-color: #1E2939;
    margin: 10px;
}
.Logo{

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 15px 0px ;
}

.Logo img{

    width: 30px;
}

.Logo span a{

       text-decoration: none;
    font-size: var(--fs-lg);
    font-family: 'Montserrat';
    font-weight: 800;
    letter-spacing: 1px;
    background:linear-gradient(to right,
    rgb(16, 199, 16),
    rgb(8, 8, 192) 70%);
    background-size:100% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Image{

  
    width: 100%;
    height: 100vh;
    background:url(/Assets/Images/low-poly-background-with-connecting-lines-dots.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: none;
    flex: 1;
}

.Form-container{

    background-color: #131316e1;
    padding: 25px  ;
}

.Social-login .Social span{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 15px 20px;
    border: 1px solid #1E2939;
}
.Social-login .Social span a{

     text-decoration: none;
     color: #E6EDF3;
     font-size: var(--fs-sm);
}
.Social-login .Social svg{

    display: block;
    margin-right: 5px;
    color: #E6EDF3;
}


@media (min-width: 768px) {

    .Container-login{

        flex-direction: row;
        max-width: 600px;
    }

   

    .Content{

        flex: 1;
        padding: 20px;
    }

   
}

@media (min-width: 1024px) {


 

    .Container-login{

        max-width: 3000px;
    }

    .Content{

        padding: 40px;
        justify-items: center;
    }

    .Form-container{

        width: 500px;
    }

     .Image{

        display: block;
    }
}
